<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>{{title}}</title>
  </head>

  <body style='margin:0;font-family:arial'>
    <table style='border:0;width:100%'>
      <tr>
        <td style='padding:20px;color:;font-size:16px;font-weight:100'>
          {{text1}}<br />
          {{text2}}
          <b>{{text3}}</b>
        </td>
      </tr>
    </table>
  </body>

</html>
